Flask
Flask-Cors
pandas
Werkzeug
python-dotenv
groq
requests

#-------------------------------------------------
# COMANDOS PARA RODAR O PROJETO LOCALMENTE:

# 1. Navegue para a pasta do backend
# cd backend

# 2. Instale as dependências corretas
# pip install -r requirements.txt

# 3. Rode o servidor
# python app.py

#-------------------------------------------------


# NOTA: Certifique-se de ter o Python e o pip instalados no seu sistema.