Flask
Flask-Cors
pandas
Werkzeug
python-dotenv
google-generativeai

#-------------------------------------------------
# DEPEDENCIAS PARA RODAR O PROJETO LOCALMENTE:

#pip install -r requirements.txt
#pip install google.generativeai
#pip install dotenv
#python app.py

#-------------------------------------------------


